extends ../user/layouts/common.pug
block content
    h1 Products 
    nav.d-flex.justify-content-end(aria-label='Page navigation example')
        ul.pagination
            if current==1
                li.page-item.disabled
                    a.page-link(href='#') Previous
                li.page-item.active
                    a.page-link= current
                        span.sr-only
                li.page-item
                    a.page-link(href='/products?page=' + nextPage)= nextPage
                li.page-item
                    a.page-link(href='/products?page=' + nextPage) Next
            else if current==pageLimit
                li.page-item
                    a.page-link(href='/products?page=' + previous) Previous
                li.page-item
                    a.page-link(href='/products?page=' + previous, tabindex='-1')= previous
                li.page-item.active
                    a.page-link= current
                        span.sr-only
                li.page-item.disabled
                    a.page-link(href='#') Next
            else
                li.page-item
                    a.page-link(href='/products?page=' + previous) Previous
                li.page-item
                    a.page-link(href='/products?page=' + previous, tabindex='-1')= previous
                li.page-item.active
                    a.page-link= current
                        span.sr-only
                li.page-item
                    a.page-link(href='/products?page=' + nextPage)= nextPage
                li.page-item
                    a.page-link(href='/products?page=' + nextPage) Next

    .mb-3.row
        each product in results
            .col-sm-6.col-md-4.col-lg-3
                .card.mb-5.mt-2
                    .card.mb-3  
                        img.card-img-top(src= "https://loremflickr.com/320/240")
                    .card-body
                        h5.card-title= product.name
                        p.card-text= product.email
                        a.btn.btn-primary(href='/cart/add/' + product.id) Add to Cart
    